<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @conversation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @conversation.description %>
</p>

<%# <p> %>
<%#   <strong>Custom path:</strong> %>
<%#   <%= @conversation.custom_path %1> %>
<%# </p> %>

<strong>Cards:</strong>
<table class="table">
<thead>
  <tr>
    <td>Content</td>
    <td> Re-Order </td>
  </tr>
</thead>
<% for card in @conversation.ordered_cards %>
  <tr>
    <td>
      <%=link_to card.content, edit_conversation_card_path(@conversation, card) %>
    </td>
    <td>
      <span data-card-id="<%=card.id%>"
            data-conversation-id="<%=@conversation.id%>"
            class="up-card glyphicon glyphicon-arrow-up"></span>
      <span data-card-id="<%=card.id%>"
            data-conversation-id="<%=@conversation.id%>"
            class="down-card glyphicon glyphicon-arrow-down"></span>
    </td>
  </tr>
<% end %>
<tr>
  <td>
    <a href='<%="#{conversation_path(@conversation)}/cards/new" %>'
      type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </td>
  <td>
    <a href='<%="/play/#{@conversation.id}" %>'
      class="btn btn-default">
      Play!
    </a>
  </td>
</tr>

</table>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %> |
<%= link_to 'New Card', "#{conversation_path(@conversation)}/cards/new" %> |
<%= link_to 'View Game', "/play/#{@conversation.id}" %>
