<div class="page-header">
  <%= link_to new_topic_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Topic
  <% end %>
  <h1>Listing topics</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @topics) do |topic| %>
            <td><%= topic.title %></td>
            <td><%= topic.description %></td>
            <td><%= topic.keyword_list.to_sentence %></td>
            <td><%= topic.question_list.to_sentence %></td>
            <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
